*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    
    background: linear-gradient(90deg,
    rgba( 92, 11 , 38 , 1 ) 0%,
    rgba(0 , 212 , 255 ,1 ) 100%  );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}



.container{
    border: 1px solid #fff;
    padding: 30px 20px;
    margin: 30px 20px;
    width: 40%;
    min-width: 400px; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.new-task-container{
    background-color: rgb(104, 99, 99);
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0 , 0.3);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

.new-task-container input{
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius:  5px;
    padding: 12px;
    font-weight: 500;
}

.new-task-container input:focus{
    outline: none;
    border-color: #41b883;
}

.new-task-button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 2rem;
    border: none;
    background-color: #41b883;
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
    
}

.task-container{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0 , 0.3);
    width: 100%;
}

.task-container p{
    border-radius: 6px;
    background-color: aliceblue;
    border: 2px dashed gray;
    max-width: 70%;
    padding: 1em;
    margin-bottom: .4em;
  
    word-break: break-all;
}
.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}
.task-item i {
    background-color: #41b883;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.task-item i:hover{
    transition: 0.3s;
    background-color: rgb(217, 33, 33);
}


/* utilities */

.error{
    border: 2px solid red !important;
}
.error::placeholder{
    color: red
}
.completed{
    text-decoration: line-through;
    color: #053780;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 970px){

    .new-task-button{
        
        font-size: 20px;
        height: 55px;
        text-align: center;
        

    }

    
}


